= simple_form_for @diary do |f|
  .row
    .small-11.small-offset-1.columns= f.date_field :date, value: Date.today
  .row
    .small-11.small-offset-1.columns= f.input :body
  .row
    .small-11.small-offset-1.columns.button= f.submit
