$unhighlighted-gray: #999999;
$logo-blue: #319dc5;

#sleeplogs-content {
  display: none;
}

#sleeplog-form {
  display: none;
}

.top_of_sleeplogs {
  padding-top: 30px;
}

.sleeplogs_menu {
  border-bottom: solid;
  border-bottom-color: $unhighlighted-gray;
  a {
    font-size: 30px;
    color: $unhighlighted-gray;
  }
}

.highlighted_sleeplogs {
  border-bottom-color: $logo-blue;
}

#add_sleeplog_link {
  margin-top: 10px;
 }

#container-1 {
  margin: 20px;
}

.sleeplog_table {
  box-shadow: 2px 2px 4px 2px #d7e4ed;
  margin-bottom: 10px;
}

.date {
  text-align: right;
  color: $unhighlighted-gray;
}

.hours {
  color: $logo-blue;
}

.sleeplog_table {
  padding: 20px;
}

.headers {
  padding-bottom: 30px;
  font-size: 22px;
}

.titles {
  font-size: 16px;
  color: $unhighlighted-gray;
}

.info {
  font-size: 24px;
}

.extra_info {
  margin-top: 10px;
}
