$unhighlighted-gray: #999999;
$logo-blue: #319dc5;

#sleeplogs-content {
  display: none;
}

#sleeplog-form {
  display: none;
}

.sleeplogs_menu {
  border-bottom: solid;
  border-bottom-color: $unhighlighted-gray;
  a {
    font-size: 30px;
    color: $unhighlighted-gray;
  }
}

.highlighted_sleeplogs {
  border-bottom-color: $logo-blue;
}
