= javascript_include_tag "//www.google.com/jsapi", "chartkick"
%h1 Sleeplogs
= line_chart Sleeplog.group(:date, format: "%P").sum(:hours), discrete: true, xtitle: "Date", ytitle: "Hours of Sleep"

= render @sleeplogs
