.row
  %h1.small-11.small-offset-1.columns Sleeplogs
.row
  .small-11.small-offset-1.columns#container-1
.row
  .small-11.small-offset-1.columns#sleeplogs= link_to "Add Sleeplog", new_sleeplog_path, remote: true
.row
  .small-11.small-offset-1.columns#sleeplog-form
.row
  .small-11.small-offset-1.columns#sleeplogs-links= link_to "Show Sleeplogs"
.row
  .small-11.small-offset-1.columns#sleeplogs-content= render @sleeplogs
